@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@media only screen and (max-width: 700px) {
   body {
       max-width: 100% !important;
      padding-left: 2% !important;
      padding-right: 2% !important;
       font-size: 1.2em !important;
   }
    /*.customnav li a {*/
    /*    font-size: 1.5625em !important;*/
    /*}*/
}

* {
    font-family: 'Lato', serif;
}

p {
    text-align: justify;
}

a { text-decoration: none; }

body{
    max-width: 43.75em;
    margin: auto;
    padding: 5%;
    text-justify: inter-word;
    text-align: justify;
    font-size:1.125em;
    font-weight: 400;
    letter-spacing:0;
    line-height:1.28581;
    border: 0 none;
}


.customnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #a3a3a3;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
}

.customnav li {

    float: left;
    /*width: 30%;*/
}

.customnav li a{
  float: left;
  padding: 0.875em 1em;
  color: white;
  text-decoration: none;
  font-size: 1em;
  text-align: center; /* If you want the text to be centered */
}

.customnav li a:hover {
    background-color: darkslategrey;
    display: flex;
}

.active_tab {
    background-color: #53b292;
    display: flex;
}

.home {
    /*width: 10% !important;*/
    background-color: seagreen;
}


.github-menu {
  /*position: absolute;*/
  bottom: 10%;
  z-index: 600;
  right: 10%;
  border-radius: 0.625em;
    float: right}

.github-menu:hover {
  box-shadow: 0px 0px 1.875em 1px rgba(46, 139, 87, 0.3) !important;
}

.github-element{
  display: flex;
  align-items: center;
  color: seagreen;
  padding: 0.625em;
  cursor: pointer;
}

.github-text {
  padding-left: 0.625em;
}

.github-text h5 {
  margin: 0px
}

.github-text h6 {
  margin: 0px
}


.graph_importer {
    width:100%;
    height:25em
}

.tab {
  overflow: hidden;
  border: 0.0625em solid seagreen;
  background-color: #a3a3a3;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em 0.8em;
  transition: 0.3s;
  font-size: 1em;
  color: white;

}

.tab button:hover {
  background-color: darkslategrey;
}

.tab button.active {
  background-color: #53b292;
}

.tabcontent {
  display: none;
  padding: 0.375em 0.5em;
  border: 0.0625em solid darkslategrey;
  border-top: none;}